{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Homepage</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- For Font style -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700,800" rel="stylesheet">
    <!-- Owl Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <style>
        .mySlides {display:none;}
    </style>

</head>

<body>
<div class="about-image">
    <a href="{% url 'home' %}"> <img src="{% static 'images/ID.png' %}" style="width: 96px; height: 96px;" alt="" />Customer ID</a>
</div>

  
</div>
<br><br>
<div style="text-align:center ;" >
    <button style="padding:10px;text-align:center;background-color:  #f04c26;color:black;margin:auto;border-radius: 15px;"><b>We have found {{length}} crags that <br> match your search !</b></button>
</div>
<br>
    <div style="text-align:center ;">
    <div class="w3-content w3-display-container">
      <img style="  display: block; margin-left: auto; margin-right: auto;width: 50%;height: 300px;width:300px ;" class="mySlides" src="{% static 'routeImages\cowboys.jpg' %}">
      <img style="display: block; margin-left: auto; margin-right: auto;width: 50%;height: 300px;width:300px ;" class="mySlides" src="{% static 'images/cragMoun.jpg' %}">
      <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
      <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
    </div>
</div><br><br>
<div style="background-color:grey ;display: block; margin-left: auto; margin-right: auto;width: 50%;height: auto;width:350px ;font-size: large;">
<p>
</div>
</p>
</div>
{% for route in routes %}
<img src="{%static route.image %}" style="width: 96px; height: 96px;" alt="" />
<b>Destination name:    <b>{{route.name}}</b><br>
<b>Crag name:           <b>{{route.name}}</b><br>
<b>Grade:               <b>{{route.grade}}</b><br>
<b>Description:         <b>{{route.description}}</b><br>
<b>Bolts:               <b>{{route.bolts}}</b><br>
<b>Rating:              <b>{{route.rating}}</b><br>
<b>Length:              <b>{{route.length}}</b><br>
<b>Ascents:             <b>{{route.ascents}}</b><br>
<b>First Ascent:        <b>{{route.firstAscent}}</b><br>
{% endfor %}

<div style="text-align: center;">
  <button style="background-color: #0d80a6;width: 40%;height:40px ; border-radius: 10px;" > <a href="{% url 'Crags4' %}"><b style="color: white;font-size: medium;">Select to route track &nbsp;</b></a></button>
  </div>
    
    <script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
      showDivs(slideIndex += n);
    }
    
    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      x[slideIndex-1].style.display = "block";  
    }
    </script>

    <br><br><br>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/owl-carousel/highlight.js' %}"></script>
    <script src="{% static 'js/owl-carousel/app.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script type="text/javascript" src="engine1/wowslider.js"></script>
    <script type="text/javascript" src="engine1/script.js"></script>
</body>

</html>
